{% extends "index.html" %}

{% block body %}
    <div class="text-center" style="margin-bottom: 5em;">
        <h1 class="display-4"> Try out our two modes of similarity search below</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card" style="width: 18rem; display: inline-block;">
                
                <div class="card-body text-center">
                  <i class="card-img-top fa fa-random" style="font-size: 12em" alt="..." aria-hidden="true"> </i>
                  <h5 class="card-title">Image Randomizer</h5>
                  <p class="card-text">Find similar images for a randomly sampled image from our corpus</p>
                  <a href="/randomizer" class="btn btn-primary">Image Randomizer</a>
                </div>
            </div>
        </div>

        <div class = "col-4">
            <div class="card" style="width: 18rem; display: inline-block;">
                <div class="card-body text-center">
                   <i class="card-img-top fa fa-upload" style="font-size: 12em" alt="..." aria-hidden="true"> </i>
                  <h5 class="card-title">Upload Image</h5>
                  <p class="card-text">Upload a custom image to find similar images from our corpus</p>
                  <a href="/uploader" class="btn btn-primary">Uploader</a>
                </div>
            </div>
        </div>

    </div>


{% endblock %}